@model WebApplicationLocamerLDeMOg.Models.Categorie

@{
    ViewBag.Title = "Supprimer";
}

<h2>Delete</h2>

<h3>Voulez-vous vraiment supprimer cet élément ?</h3>
<div>
    <h4>Categorie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Libellé catégorie :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.libelleCate)
        </dd>

        <dt>
            Coéfficient catégorie :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coefCate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retourner à la liste", "Index")
        </div>
    }
</div>